asgiref==3.5.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.12
commonmark==0.9.1
Django==4.0.3
idna==3.3
pkg_resources==0.0.0
psycopg2-binary==2.9.3
Pygments==2.11.2
python-dotenv==0.20.0
requests==2.27.1
rich==12.1.0
sqlparse==0.4.2
typing_extensions==4.1.1
urllib3==1.26.9
